{% extends "base.html" %}
{% block 'hero' %}{% endblock %}
{% block 'body' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
	<div class="container">
		<div class="row">
		<aside class="col-md-3">
			<!--   SIDEBAR   -->
			<ul class="list-group">
				<a class="list-group-item" href="{% url 'profile' %}"> My order history </a>
				<a class="list-group-item active-a" href="{% url 'change_password' %}">Change Password </a>
				<a class="list-group-item" href="{% url 'receive' %}"> Received orders </a>
			</ul>
			<br>
			<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
			<!--   SIDEBAR .//END   -->
		</aside>
		<main class="col-md-9">
                <form style="width: 50%;" method="post" action="" class="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_old_password">Old Password</label>
                        <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                    </div>

                    <!-- New Password -->
                    <div class="form-group">
                        <label for="id_new_password1">New Password</label>
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                    </div>

                    <!-- Repeat Password -->
                    <div class="form-group">
                        <label for="id_new_password2">Repeat Password</label>
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                    </div>
                    {% if messages %}
                    <ul style="margin-left: 12px;margin-bottom: 10px; color: #833030" class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
		</main>
	</div> <!-- row.// -->
	</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}